@media screen and (max-width: 620px) {
  .profile {
    flex-direction: column;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    grid-gap: 10px 14px;
    margin-top: 25px;
  }
  .profile__title {
    font-size: 22px;
  }
  .profile__description {
    width: 100%;
    text-align: center;
  }
  .profile__image {
    margin: 0;
  }
  .profile__add-button {
    margin: 36px 0 0;
    width: 100%;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
  .footer__copyright {
    font-size: 14px;
  }
}

@media screen and (max-width: 770px) {
  .header__logo {
    width: 126px;
    height: 24px;
  }
}

@media screen and (max-width: 770px) and (min-width: 621px) {
  .profile__title {
    font-size: 32px;
  }
  .profile__info {
    grid-template-columns: minmax(auto, 300px) auto;
  }
  .profile__add-button {
    width: 50px;
  }
}

@media screen and (max-width: 919px) {
  .page__section {
    margin: 40px 20px 0;
    max-width: calc(100% - 40px);
  }
  .header {
    padding: 0;
  }
  .profile {
    padding: 0;
  }
  .footer__copyright {
    margin: 8px 0 36px;
  }
}
